<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WEB_TTTH_1</display-name>
  
<!--    <security-constraint> -->
<!--   	<web-resource-collection> -->
<!--   		<web-resource-name>WebTTTH</web-resource-name> -->
<!--   		<url-pattern>/*</url-pattern> -->
<!--   	</web-resource-collection> -->
<!--   	<user-data-constraint> -->
<!--   		<transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
  		
<!--   	</user-data-constraint> -->
<!--   </security-constraint>   -->
  
  <welcome-file-list>
    <welcome-file>TrangChu</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- rewrite url -->
    <filter>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	</filter-mapping> 
 
 <!-- Click jacking -->
 	  <filter>
        <filter-name>ClickjackPreventionFilterDeny</filter-name>
        <filter-class>Controllers.ClickjackingPreventionFilter</filter-class>
        <init-param>
            <param-name>mode</param-name><param-value>DENY</param-value></init-param>
    </filter>	
     
    <!-- use the Deny version to prevent anyone, including yourself, from framing the page -->
      <filter-mapping> 
        <filter-name>ClickjackPreventionFilterDeny</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>	
    
    <!-- Cross-Domain JavaScript Source File Inclusion -->
     <filter>
    	<filter-name>CorsFilter</filter-name>
    	<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    	<init-param>
        	<param-name>cors.allowed.origins</param-name>
       	 	<param-value>http://blog.nicohaemhouts.com</param-value>
   		</init-param>
	</filter>
	<filter-mapping>
    	<filter-name>CorsFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>	
    
   	<!-- X-Content-Type-Options Header Missing -->
   	
   	  <filter>
	    <filter-name>httpHeaderSecurity</filter-name>
	    <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
	    <async-supported>true</async-supported>
	    <init-param>
	        <param-name>xssProtectionEnabled</param-name>
	        <param-value>true</param-value>
	    </init-param>	
		<!-- true represents 1; mode=block -->
	 </filter>
	<filter>
	    <filter-name>httpHeaderSecurityNoX</filter-name>
	    <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
	    <async-supported>true</async-supported>
	</filter> 
	
   	<!-- Web Browser XSS Protection Not Enabled -->
  
	  <filter-mapping>
	        <filter-name>httpHeaderSecurity</filter-name>
	        <url-pattern>/*</url-pattern>
	</filter-mapping> 
   	
  
</web-app>